# 环境变量（含账号密码）
.env
.env.local
.env.prod

# Claude Code 配置文件
.claude/

# 输出数据
output-history/

# 错误截图和页面源码
*.png

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# 日志
*.log

# 系统
Thumbs.db
Desktop.ini
.DS_Store


# IoT方面
*.bin